@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --bg-body-mb: url("/assets/bg-body-mb.jpg");
  --bg-body-dsk: url("/assets/bg-body-dsk.jpg");
}

body {
  font-family: var(--font-poppins);
}